<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/allcategories">All Categories</a></li>
                    <li>CatgoryName</li>
                </ol>
            </div>

        </div>
    </div><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebarr">
                    <!-- <img src="https://www.shoppingsuperstars.com/image/ads.png" alt="ads" class="sidebar-ads"> -->
                    <h2>Apparel & Assessories</h2>
                    <p>Find best deals and coupons for apparel and accessories including shoes, clothes, and bags for men and women at best stores. Get a Variety of everyday styles and trends that are versatile for every occasion at their lowest prices. Save your time to find stores and enjoy massive discounts.</p>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 border">
                    <h1>Apparel and Assessories</h1>
                    <h4>Verified Coupons for March 8, 2023</h4>
                    <div class="col-12">
                        <div class="tags">
                            <ul class="mt-3">
                                <li>
                                    <a>All Offers {{ TotalCouponsCount }}</a>
                                </li>
                                <li *ngFor="let item of filteredCategoryCount | keyvalue">
                                    <a *ngIf="item.value!=true"> {{sliceData(item.key)}}: {{item.value}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <style>
                        

                        
                    </style>
                    <div class="col-12" *ngFor="let fCoup of filteredCategoryCoupons">
                        <div class="card-fcoup card align-items-center">
                            <img src="https://adscombined.com/admin/public/storage/{{ fCoup.Logo }}" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ fCoup.Title }}</h5>
                                <p class="c-date"><span class="c-l-date">{{ fCoup.updated_at }}</span><span class="c-r-date">{{ fCoup.created_at }}</span></p>
                                <div>
                                    <a href="#" class="btn btn-warning c-off-price">{{ fCoup.OfferNumber }}</a>
                                    <a href="#" class="btn btn-primary float-end text-end c-get-coup">Get This Coupon</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>