<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/allcategories">All Categories</a></li>
                    <li>CatgoryName</li>
                </ol>
            </div>

        </div>
    </div><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebarr">
                    <img src="https://www.shoppingsuperstars.com/image/ads.png" alt="ads" class="sidebar-ads">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <h1>Apparel and Assessories</h1>
                    <h4>Verified Coupons for March 8, 2023</h4>
                    <div class="col-12 border">
                        <div class="tags">
                            <ul class="mt-3">
                                <li>
                                    <a>All Offers {{ TotalCouponsCount }}</a>
                                    
                                    <a *ngIf="thisiscool == 'red'">Free Shipping {{ FreeShippingCount }}</a>
                                    <a>Clearance {{ ClearanceCount }}</a>
                                    <a>Sale {{ SaleCount }}</a>
                                    <a>Events {{ EventsCount }}</a>
                                    <a>Gifts {{ GiftsCount }}</a>
                                    <a>Coupon {{ CouponCount }}</a>
                                    <a>Student {{ StudentCount }}</a>
                                    <a>Referral {{ ReferralCount }}</a>
                                    <a>Reward {{ RewardCount }}</a>
                                    <a>Rebate {{ RebateCount }}</a>
                                    <a>New Arrival {{ NewArrivalCount }}</a>
                                    <a>BOGO {{ BOGOCount }}</a>
                                    <a>PromoCount {{ PromoCount }}</a>
                                    <a>Weekly Ad {{ WeeklyAdCount }}</a>
                                </li>
                                <li *ngIf="CashBackCount==0"> 
                                    <a >Cashback {{ CashBackCount }}</a>
                                </li>
                            </ul>

                           
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>