
<main id="main">

  <div class="container">
    
    <h2 class="text-center"><a href="/coupons/all">{{this.total_coupons}} Coupons</a> & <a
        href="/deals">{{this.total_deals}} Deals</a> from <a href="/onlinestores">{{this.total_stores}} Online
        Stores</a> , <a href="/onlinebrands">{{this.total_brands}} Brands</a> & <a
        href="/onlineretailers">{{this.total_retailers}} Retailers</a></h2>

    <div class="row">
      <div class="img-responsive col-md-12">
        <img class="img-responsive" src="https://blogs-images.forbes.com/gabrielshaoolian/files/2017/07/quickbooks.png"
          style="height: 100%; width: 100%;">
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="links-updated container-fullwidth coupon-codes">
        <div>
          <div class="link-item">
            <img src="https://adscombined.com/category_images/Apparel-Accessories.png" alt="Apparel & Accessories">
            <p>Apparel &amp; Accessories</p>
          </div>
          <div class="link-item">
            <img src="https://adscombined.com/category_images/Arts-Entertainment.png" alt="">
            <p>Arts &amp; Entertainment</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Automotive and Mechanics&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/Automotive-Mechanics.png" alt="">
            <p>Automotive &amp; Mechanics</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Baby and Nursery&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/baby.png" alt="">
            <p>Baby &amp; Nursery</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Beauty&amp;im=c')" class="link-item">
            <img src="https://adscombined.com/category_images/Beauty.png" alt="">
            <p>Beauty</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Books, Music and Video&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/Books-Music-Video.png" alt="">
            <p>Books, Mucic &amp; Video</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Computers and Software&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/computer.png" alt="">
            <p>Computer &amp; Software</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Education and Training&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/education.png" alt="">
            <p>Education &amp; Training</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Electronics&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/electronics.png" alt="">
            <p>Electronics</p>
          </div>
        </div>
        <div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Flowers and Gifts&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/flowers.png" alt="">
            <p>Flowers &amp; Gifts</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Food and Beverage&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/food.png" alt="">
            <p>Food &amp; Beverage</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Health and Medicine&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/Health &amp; Medicine.png" alt="">
            <p>Health &amp; Medicine</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Holiday and Seasonal&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/Holiday-Seasonal.png" alt="">
            <p>Holiday &amp; Seasonal</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Home and Garden&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/home.png" alt="">
            <p>Home &amp; Garden</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Toys and Games&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/Toys-Games.png" alt="">
            <p>Toy &amp; Games</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Travel&amp;im=c')" class="link-item">
            <img src="https://adscombined.com/category_images/travling.png" alt="">
            <p>Travel</p>
          </div>
          <div
            onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Wireless, Broadband and Cable&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/Wireless-Broadband-Cable.png" alt="">
            <p>Wireless, Broadband &amp; Cable</p>
          </div>
          <div onclick="dealClicked('https\://bagtheprice.com/store-detail.html?s=Pet Care and Supplies&amp;im=c')"
            class="link-item">
            <img src="https://adscombined.com/category_images/Pet-Care-Supplies.png" alt="">
            <p>Pet Care &amp; Supplies</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Coupon Section -->
  <section class="coup-section">
    <div class="container">
      <div class="sec-head coup-head">
        <h2>Coupons</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor="let coupVal of this.homeCoupon">
          <div class="card coupon-card mt-2 mb-3">
            <div class="card-up aqua-gradient">
              <h5 class="text-center my-2">{{ coupVal.Title }}</h5>
              <i class="bi bi-heart"></i>
            </div>
            <div class="avatar mx-auto white">
              <img src="https://adscombined.com/admin/public/storage/{{coupVal.Logo}}" class="rounded-circle img-fluid"
                alt="woman avatar">
            </div>
            <div class="card-body text-center">
              <p><span class="text-center bg-success text-white rounded py-2 px-3">{{ coupVal.Offer }}</span></p>
              <span class="text-center">{{ coupVal.Code }}</span>
              <hr>
              <div class="d-flex justify-content-center coupon-dates">
                <div class="last-seen">
                  <p>Last Seen</p>
                  <p>{{ coupVal.DateAdded }}</p>
                </div>
                <div class="found-on">
                  <p>Found on</p>
                  <p>{{ coupVal.DateUpdated }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Coupon Section End -->

  <!-- Cash back section -->
  <section class="cash-back">
    <div class="container">
      <div class="sec-head cash-head">
        <h2>Cash <span>Back</span></h2>
      </div>
      <div class="row d-flex align-items-stretch mt-4">
        <div class="col-lg-3 col-md-6 col-12" *ngFor="let cashback of this.homeCashback">
          <div class="card p-3 mb-2">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div class="logo-contain"> <img src="https://adscombined.com/admin/public/storage/{{cashback.Logo}}"
                    alt="img">
                </div>
              </div>
              <div class="fav-icon"> <i class="bi bi-heart text-dark"></i> </div>
            </div>
            <div class="mt-1 text-limit-3 ">
              <button class="btn btn-primary my-2">{{cashback.Type}}</button>
              <p>{{cashback.Title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cash back section -->
  <!-- Get One Free (BOGO) section -->
  <section class="bogo-sec">
    <div class="container">
      <div class="sec-head coup-head">
        <h2>Get One Free (BOGO)</h2>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-6 col-12 align-items-stretch" *ngFor="let bogo of this.boGo">
          <div class="card bogo-card mt-2 mb-3">
            <div class="card-up bogo-card-head">
              <h5 class="text-center my-2">{{bogo.Offer}}</h5>
              <i class="bi bi-heart"></i>
            </div>
            <div class="avatar mx-auto white">
              <img src="https://adscombined.com/admin/public/storage/{{bogo.Logo}}" class="img-fluid"
                alt="logo">
            </div>
            <div class="card-body text-center">
              <p><span class="text-center" title="{{bogo.Title}}">{{bogo.Title}}</span></p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Get One Free (BOGO) section / -->

  <!-- Events section -->
  <section class="f-events">
    <div class="container">
      <div class="sec-head cash-head">
        <h2>Events</h2>
      </div>
      <div class="row d-flex align-items-stretch mt-4">
        <div class="col-lg-2 col-md-4 col-12" *ngFor="let event of this.eventsData">
          <div class="card p-3 mb-2 h-100">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div class="logo-contain"> <img src="https://adscombined.com/admin/public/storage/{{event.Logo}}"
                    alt="img">
                </div>
              </div>
              <div class="fav-icon"> <i class="bi bi-heart text-dark"></i> </div>
            </div>
            <div class="mt-1 text-limit-3 ">
              <span class="btn btn-primary my-2">{{event.Offer}}</span>
              <p>{{event.Title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Events section end -->

  <!-- Sales and Clearance Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="img-responsive col-md-12">
          <img class="img-responsive" src="https://blogs-images.forbes.com/gabrielshaoolian/files/2017/07/quickbooks.png"
            style="height: 100%; width: 100%;">
        </div>
      </div>
      <div class="sec-head sales-head">
        <h2>Sale & Clearance</h2>
      </div>

      <div class="row">
        <!-- <div class="col-lg-3 col-md-6" *ngFor = "let coupVal of this.homeCoupon"> -->
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor="let salesD of this.salesData">
          <div class="card coupon-card sales-card mt-2 mb-3">
            <div class="card-up aqua-gradient">
              <h5 class="text-center my-2">{{ salesD.Title }}</h5>
              <i class="bi bi-heart"></i>
            </div>
            <div class="avatar mx-auto white">
              <img src="https://adscombined.com/admin/public/storage/{{salesD.Logo}}" class="rounded-circle img-fluid"
                alt="woman avatar">
            </div>
            <div class="card-body text-center">
              <p><span class="text-center bg-success text-white rounded py-2 px-3">{{ salesD.Offer }}</span></p>
              <span class="text-center">{{ salesD.Code }}</span>
              <hr>
              <div class="d-flex justify-content-center sales-dates">
                <div class="last-seen">
                  <p>Last Seen</p>
                  <p>{{ salesD.DateAdded }}</p>
                </div>
                <div class="found-on">
                  <p>Found on</p>
                  <p>{{ salesD.DateUpdated }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Sales and Clearance Section End -->
  <!-- ======= Deals Section ======= -->
  <section id="services" class="services deals-sec">
    <div class="container">
      <div class="sec-head deals-head mb-3">
        <h2>Top Deals</h2>
      </div>
      <div class="row gy-5">
        <div class="col-xl-3 col-md-4 col-12" *ngFor="let deals of this.topDeals">
          <a href="">
            <div class="deal-item service-item">
              <span class="deals-off-des">Save &#36;{{deals.PriceDifference}}</span>
              <div class="img deals-img">
                <img src="{{deals.Image}}" class="img-fluid" alt="">
                <i class="bi bi-heart"></i>
              </div>
              <div class="details position-relative align-items-stretch">
                <div class="d-logo">
                  <img src="https://adscombined.com/admin/public/storage/{{deals.Logo}}" alt="">
                </div>
                <p class="deal-p-price my-2"><span>{{deals.Price1}}</span><span>{{deals.Price2}}</span></p>
                <h5 class="text-limit-2">{{deals.Title}}</h5>
              </div>
            </div>
          </a>
        </div>
        <!-- End Deals Item -->
      </div>
    </div>
  </section><!-- End Deals Section -->
  <!-- Subscription section start -->
  <section class="subc-sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-7">
          <h2>Never Miss Offers!!!</h2>
          <p>Subscribe using your email for up to the minute offers, coupon, promo, free shipping, clearance, weekly ad, today's ad, sale, event, gift, student, referral, reward, cash back, rebate, printable coupon, seasonal, bogo,  and deals.</p>
          <br>
          <p>Login to Update your Subscription</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 subc-form">
          
          
          
          <form #subForm="ngForm" (ngSubmit)="getSubDetails(subForm.value)">
              <div class="form-group mb-2">
                <input ngModel name="email" type="email" class="form-control" placeholder="Enter Your Email">
              </div>
              <div class="form-group mb-2">
                <label for="">Alert Frequency</label>
                <select name="frequency" ngModel class="form-select" aria-label="Default select example">
                  <option selected>Daily</option>
                  <option value="weekly">Weekly</option>
                </select>
              </div>
              <div class="form-group mb-2">
                <label for="">Alert Preference</label>
                <select name="alert_preference" ngModel class="form-select" aria-label="Default select example">
                  <option selected>Deals</option>
                  <option>Coupons</option>
                </select>
              </div>
              <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
              </div>
              <div *ngIf="warnMessage" class="alert alert-warning">
                {{ warnMessage }}
              </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>

          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Subscription section End -->

</main><!-- End #main -->