<!-- ======= Header ======= -->
<header id="header" class="header fixed-top nav-dark" data-scrollto-offset="0">
  <div class="container d-flex align-items-center justify-content-between">
    <a routerLink="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="https://adscombined.com/main_logo.png" alt="adscombined"> -->
      <span>AdsCombined</span>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <!-- <li><a class="nav-link " routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a></li> -->
        <li><a class="nav-link " routerLink="stores" routerLinkActive="active">Stores</a></li>
        <li><a class="nav-link " routerLink="retailers" routerLinkActive="active">Retailers</a></li>
        <li><a class="nav-link " routerLink="brands" routerLinkActive="active">Brands</a></li>
        <li><a class="nav-link " routerLink="deals" routerLinkActive="active">Deals</a></li>
        <li class="dropdown megamenu"><a routerLink="coupons" routerLinkActive="active">
            <span>Coupons</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li>
              <a routerLink="coupons/coupon">Coupons</a>
              <a routerLink="coupons/promos">Promos</a>
              <a routerLink="coupons/free-shipping">Free Shipping</a>
              <a routerLink="coupons/clearance">Clearance</a>
              <a routerLink="coupons/weekly-ads">Weekly Ad</a>
              <a routerLink="coupons/today-ads">Today's Ad</a>
            </li>

            <li>
              <a routerLink="coupons/sale">Sales</a>
              <a routerLink="coupons/event">Events</a>
              <a routerLink="coupons/gift">Gifts</a>
              <a routerLink="coupons/referral">Referral</a>
              <a routerLink="coupons/reward">Reward</a>
              <a routerLink="coupons/cash-back">Cash Back</a>
              
            </li>
            <li>
              <a routerLink="coupons/rebate">Rebate</a>
              <a routerLink="coupons/printable-coupon">Printable Coupon</a>
              <a routerLink="coupons/seasonal">Seasonal</a>
              <a routerLink="coupons/bogo">BOGO</a>
              <a routerLink="coupons/travel">Travel</a>
              <a routerLink="coupons/all">View All</a>
            </li>
          </ul>

          <!-- <ul class="mt-3 " class="tags">
              <li>
                <a routerLink="coupons/coupon">Coupons</a>
                <a routerLink="coupons/promos">Promos</a>
                <a routerLink="coupons/coupon">Free Shipping</a>
                <a routerLink="coupons/clearance">Clearance</a>
                <a routerLink="coupons/weekly-ads">Weekly Ad</a>
                <a routerLink="coupons/today-ads">Today's Ad</a>
                <a routerLink="coupons/sale">Sale</a>
                <a routerLink="coupons/event">Event</a>
                <a routerLink="coupons/gift">Gift</a>
                <a routerLink="coupons/promos">Promos</a>
                <a routerLink="coupons/promos">Promos</a>
                <a routerLink="coupons/promos">Promos</a>

              </li>
            </ul> -->

        </li>
        <li class="dropdown"><a routerLink="allcategories" routerLinkActive="active"><span>Categories</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul class="dropdown-menu-lg-end">
            <li class="dropdown"><a href=""><span>Apparel & Accessories</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul class="">
                <li><a href="#">Clothing</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Jewelry</a></li>
                <li><a href="#">Sunglasses & Eyewear</a></li>
                <li><a href="#">Bags</a></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href=""><span>Arts & Entertainment</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul class="">
                <li><a href="#">Arts</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Prints</a></li>
                <li><a href="#">SCanvas Prints</a></li>
                <li><a href="#">Photo Gifts</a></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href=""><span>Automotive & Mechanics</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul class="">
                <li><a href="#">Auto Body Parts & Mirrors</a></li>
                <li><a href="#">Headlights & Lighting</a></li>
                <li><a href="#">Engine & Drivetrain</a></li>
                <li><a href="#">Brakes & Suspension & Steering</a></li>
                <li><a href="#">Wheels & Tires</a></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href=""><span>Baby & Nursery</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul class="">
                <li><a href="#">Summer</a></li>
                <li><a href="#">Winter</a></li>
                <li><a href="#">Babies</a></li>
                <li><a href="#">Toddler</a></li>
                <li><a href="#">Matching Outfits</a></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav><!-- .navbar -->
    <a class="btn-getstarted scrollto" href="#">Login</a>
  </div>
</header>
<!-- End Header -->
<section id="hero-static" class="hero-static d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">
    <h2>Find Top <span>Promotions</span></h2>
    <div class="input-group mb-3 input-group-sm f-search">
      <select class=" border-0 bg-primary text-white rounded-pill-start mw-max-c f-search-select" id="" size=""
        style="    padding: .25rem .5rem; font-size: .875rem; border-radius: .25rem 0 0 .25rem;">
        <option selected>Deals</option>
        <option value="1">Coupons</option>
      </select>
      <input type="search" class="form-control hide-focus border-primary border-2 border-end-0 f-search-input"
        placeholder="search doupons or deals" aria-label="Username" aria-describedby="basic-addon1">
      <button class="f-search-icon bg-primary border-primary btn ">
        <span class=" border-2 border-start-0 ps-1" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--bs-white)" stroke="var(--bs-white)"
            class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>