<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Top Stores</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Artbeads</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rona</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Basicslife</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">5 Dollar Fashions</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Superherostuff</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Ashford</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Horseloverz</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Beyond Polish</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Citygrounds</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Top Brands</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Aerin</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Antonymcosmetics</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Breadbeautysupply</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Caudalie</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Cleanbeauty</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Daehair</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Drsturm</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Duobrand</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Elcompanies</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Categories</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Apparel & Accessories</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Arts & Entertainment</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Automotive & Mechanics</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Baby & Nursery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Beauty</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Books, Music & Video</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Computers & Software</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Education & Training</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Electronics</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-links footer-newsletter">
            <h4>General</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About Us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Contact Us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">FAQs</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms & Conditions</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy Policy</a></li>
            </ul>
           
          </div>
        </div>
      </div>
    </div>
    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Software Pattern</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://softwarepattern.ca/">Software Pattern</a>
          </div>
        </div>
        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <!-- <div id="preloader"></div> -->
        <!-- Vendor JS Files -->
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        

