<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <ol>
          <li><a routerLink="/">Home</a></li>
          <li>Retailers</li>
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">

      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h2>Brand's Best Deals and Coupons</h2>
          <h4>All Retailers({{brandsCount}})</h4>
          <div class="row stores-div card-deck d-flex flex-wrap align-items-stretch">

            <div class="col-12">
              <div class="tags">
                <ul class="mt-3">
                  <li>
                    <a>All</a>
                    <!-- <a (click)="getNumeric($event)">0-9</a> -->

                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-6 mb-4" *ngFor="let brand of allBrandsData | paginate:{
              itemsPerPage: perPage,
              currentPage: page,
              totalItems: brandsCount
            }; let i = index ">

              <div class="card h-100">
                <div>
                  <img class="card-img-top" src="https://adscombined.com/admin/public/storage/{{brand.Image}}"
                    alt="{{brand.Image}}" height="160">
                </div>
                <div class="card-body store-detail text-center">
                  <h5 class="card-title " title="{{brand.StoreName}}">{{brand.StoreName}}</h5>
                  <p class="card-text "
                    title="{{brand.TotalCouponsCount}} coupons and {{brand.DealsCount}} deals">
                    {{brand.TotalCouponsCount}} Coupons and {{brand.DealsCount}} Deals</p>
                </div>
              </div>
            </div>
          </div>
          <div class="my-pagination">
            <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onBrandPageChange($event)">
            </pagination-controls>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3 class="sidebar-title">Top Categories</h3>
          <div class="tags">
            <ul class="mt-3">
              <li *ngFor="let cat of allCatgoriesData">
                <a href="">{{cat.Category}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>